<?php use \Tuanduimao\Loader\App as App; ?>
<!-- Page Content -->
<div class="content">
    <div class="col-sm-5 col-lg-3">
         <div class="collapse navbar-collapse remove-padding" id="inbox-nav">
            <!-- Inbox Menu -->
            <div class="block">
                <div class="block-header bg-gray-lighter">
                    <ul class="block-options">
                        <li>
                            <a  href="<?=APP::R('default','deptpanel')?>"  >
                                <i class="fa fa-plus"></i> 创建类型
                            </a>
                        </li>
                    </ul>
                    <h3 class="block-title">资料类型 <span class="badge  push-5-l">3</span> </h3>
                </div>
                <div class="block-content remove-padding" >
                    <ul class="nav nav-pills nav-stacked push" 
                    	data-toggle="slimscroll" 
                    	data-height="screen-height"
                    	data-offset='240'
                    	>
                        <li class="active">
                            <a href="#">
                               <i class="fa fa-fw fa-inbox push-5-r"></i> 资料类型
                            </a>
                        </li>
                        <?php for( $i=0; $i<20; $i++ ) : ?>
                        <li>
                            <a href="#">
                                <i class="fa fa-fw fa-star push-5-r"></i> 类型 <?=$i?>
                            </a>
                        </li>
                    	<?php endfor; ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-7 col-lg-9">
        <!-- Block -->
        <div class="block">
            
            <!-- TAB导航菜单 开始 -->
            <ul class="nav nav-tabs nav-tabs-alt" id="tabforms-h5_datatype" >
                
                <!-- 左侧标签菜单 -->
                <!-- 基本信息general 标签菜单开始 -->
                <li class="active" >
                    <a id="TAB_14671151760376891" 
                       href="#tabs-general"  
                       data-remote="<?=App::NR('Datatype','general', $query)?>">
                        <i class="fa fa-server"></i> 
                        <span class="font-w300" > 基本信息 </span>
                    </a>
                </li> <!-- 基本信息general 标签菜单结束 -->

                <!-- 移动应用app 标签菜单开始 -->
                <li  >
                    <a id="TAB_14671164784783490" 
                       href="#tabs-app"  
                       data-remote="<?=App::NR('Datatype','app', $query)?>">
                        <i class="fa  fa-puzzle-piece"></i> 
                        <span class="font-w300" > 移动应用 </span>
                    </a>
                </li> <!-- 移动应用app 标签菜单结束 -->

                <!-- 呈现模板template 标签菜单开始 -->
                <li  >
                    <a id="TAB_14671175612499775" 
                       href="#tabs-template"  
                       data-remote="<?=App::NR('Datatype','template', $query)?>">
                        <i class="fa  fa-html5"></i> 
                        <span class="font-w300" > 呈现模板 </span>
                    </a>
                </li> <!-- 呈现模板template 标签菜单结束 -->

                
                <!-- 右侧标签菜单 -->

            </ul> <!-- TAB导航菜单 结束 -->

            <!-- TAB正文内容开始 -->
            <div class="block-content tab-content">

                <div class="tab-pane hide" id="tab-pane-error" >
                    <div class="alert alert-danger push-50-l push-50-r push-20-t ">
                        <h3 class="font-w300 push-15">载入失败</h3>
                        <p>{HTML}</p>
                    </div>
                    <div class="row"  style="min-height:300px;" ></div>
                </div>
     
                <!-- 基本信息general 标签内容开始 -->
                <div class="tab-pane active" id="tabs-general"><?=App::NRUN('Datatype','general', $query)?></div><!-- 基本信息general 标签内容结束 -->
                
                <!-- 移动应用app 标签内容开始 -->
                <div class="tab-pane " id="tabs-app"></div><!-- 移动应用app 标签内容结束 -->
                
                <!-- 呈现模板template 标签内容开始 -->
                <div class="tab-pane " id="tabs-template"></div><!-- 呈现模板template 标签内容结束 -->
                
            </div> <!-- TAB内容结束 -->

        </div><!-- END Block -->

	</div>
</div>

<script>
$(function () {
    App.initHelpers('slimscroll');
    App.initHelper('nav-tabs', {'id':'#tabforms-h5_datatype'});
    store.set('test', 'helloworld');
    console.log('store = ', store.get('test') );
});
</script>
